form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: 800;
    font-size: smaller;
}

p {
    font-size: small;
}

h1, p, label {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin-bottom: 20px;
}